{% extends 'base.html' %}
{% load staticfiles %}


{% block title_block %}Change Password{% endblock %}


{% block body_block %}

	<h1 class="titulo">Change Password</h1>
        <p>Type the new password two times.</p>
    <form class='form' method="post" action="{% url 'changePassword' %}">
        {% csrf_token %}

        <div class="formContainer">
            <div class="labelInput">
                <label for="password1">New Password (only letters and numbers): </label>
                <input type="password" id="password1" name="password1">
            </div>
            <div class="labelInput">
                <label for="password2">Repeat your new password (only letters and numbers): </label>
                <input type="password" id="password2" name="password2">
            </div>
        </div>
        <input class='button' type="submit" value="Change Password"/>
    </form>
    <br/>

{% endblock %}