{% extends 'base.html' %}
{% load staticfiles %}


{% block title_block %}Rate Place{% endblock %}


{% block body_block %}

	<h1 class="titulo">Rate Place</h1>
    <p>Please rate the place <b>{{place.name}}</b>.</p>
    <p class='italic'>Your rent was selected from <b>{{rent.init}}</b> to <b>{{rent.end}}</b></p><br/>
    
	<div class='place'>
	    <h3>{{place.name}}</h3>
	    <img class='imagePlace' src='{% static place.image %}' />    
	    <p>{{place.completeAddress}}</p>
	    <p>Capacity: {{place.capacity}} people</p>
	    <p>Price per hour: {{place.price}} €</p>
		<p>Owner: {{place.user.first_name}} {{place.user.last_name}}</p><br/>
    

		<form method="post" action="/ratePlace/{{rent.id}}/">
	        {% csrf_token %}

			<div class='rate'>
				<input type="radio" id="star5" name="rate" value="5" />
				<label for="star5" title="text">5 stars</label>

				<input type="radio" id="star4" name="rate" value="4" />
				<label for="star4" title="text">4 stars</label>

				<input type="radio" id="star3" name="rate" value="3" />
				<label for="star3" title="text">3 stars</label>

				<input type="radio" id="star2" name="rate" value="2" />
				<label for="star2" title="text">2 stars</label>

				<input type="radio" id="star1" name="rate" value="1" checked/>
				<label for="star1" title="text">1 star</label>
			</div>
	        <input class='button' style='margin:0' type="submit" value="Rate Place"/>
		</form>
	</div>
    <br/>

{% endblock %}